*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}
.body{
    height: 180vh;
    width: 120vh;
    background-color: white;
    box-shadow: 1px 1px 45px 1px ;
    margin: 0 auto;
}
.image{
    height: 700px;
    width: 700px;
}
h3{
    font-family: Arial, Helvetica, sans-serif !important;
    padding-right: 140px;
    padding-top: 30px;
    font-size: 20px !important;
    font-weight: 600 !important;
}
@media(max-width:991px){
.body{
    height: 100%;
    width:100%;
}
}
